@use "theme";

@use "sass:math";

@function torem ($pixels) {
    $result : (math.div($pixels, 16)*1rem);
    @return $result;
}


$style : "Cabinet Grotesk";
$c_align : center;
$s_bold : 700;
$norm : 400;

.decor_none {
    text-decoration: none;
}

.title {
    font-family: $style;
    font-size: torem(24);
    font-weight: $s_bold;
    text-align: $c_align;
    line-height: torem(32);
    letter-spacing: -2%;
}

.subtitle {
    font-family: $style;
    font-size: torem(16);
    font-weight: $norm;
    text-align: $c_align;
    line-height: torem(24);
    letter-spacing: -1.9%;
}

.name_semibold {
    font-family: $style;
    font-size: torem(16);
    font-weight: $s-bold;
    text-align: $c_align;
    line-height: torem(24);
    letter-spacing: -1.9%;
}

.subtitle_semibold {
    @extend .black;
    font-family: $style;
    font-size: torem(16);
    font-weight: $s-bold;
    text-align: $c_align;
    line-height: torem(24);
    letter-spacing: -1.9%;
}

.price {
    @extend .black;
    font-family: $style;
    font-size: torem(16);
    font-weight: $s-bold;
    line-height: torem(24);
    letter-spacing: -1.9%;
}

.text {
    @extend .decor_none;
    @extend .black;
    font-family: $style;
    font-size: torem(12);
    font-weight: $norm;
    line-height: torem(18);
    letter-spacing: -0.6%;
}

.text_semibold {
    @extend .decor_none;
    @extend .black;
    font-family: $style;
    font-size: torem(12);
    font-weight: $s_bold;
    line-height: torem(18);
    letter-spacing: -0.6%;
}

.purchase_txt {
    font-family: $style;
    font-size: torem(12);
    font-weight: $s_bold;
    line-height: torem(18);
    letter-spacing: -0.6%;
}

.desc {
    @extend .black;
    font-family: $style;
    font-size: torem(10);
    font-weight: $norm; 
    line-height: torem(16);
    letter-spacing: 0%;
}

.others {
    font-family: $style;
    font-size: torem(12);
    font-weight: $norm;
    line-height: torem(20);
    letter-spacing: 0%;
}

.category {
    @extend .black;
    font-family: $style;
    font-size: torem(10);
    font-weight: $norm;
    text-align: $c_align;
    line-height: torem(24);
    letter-spacing: -0.6%;
}

.category_semibold {
    font-family: $style;
    font-size: torem(10);
    font-weight: $s_bold;
    text-align: $c_align;
    line-height: torem(24);
    letter-spacing: -0.6%;
}

//TABLET SCREEN SIZE

@media only screen and (min-width : 768px) {
    .title {
        font-family: $style;
        font-size: torem(24);
        font-weight: $s_bold;
        text-align: $c_align;
        line-height: torem(32);
        letter-spacing: -2%;
    }
    
    .subtitle {
        font-family: $style;
        font-size: torem(20);
        font-weight: $norm;
        text-align: $c_align;
        line-height: torem(28);
        letter-spacing: -1.9%;
    }
    
    .name_semibold {
        font-family: $style;
        font-size: torem(20);
        font-weight: $s_bold;
        text-align: $c_align;
        line-height: torem(28);
        letter-spacing: -1.9%;
    }

    .subtitle_semibold {
        font-family: $style;
        font-size: torem(20);
        font-weight: $s_bold;
        text-align: $c_align;
        line-height: torem(28);
        letter-spacing: -1.9%;
    }

    .price {
        font-family: $style;
        font-size: torem(20);
        font-weight: $s_bold;
        line-height: torem(28);
        letter-spacing: -1.9%;
    }
    
    .text {
        font-family: $style;
        font-size: torem(16);
        font-weight: $norm;
        line-height: torem(20);
        letter-spacing: 0%;
    }
    
    .text_semibold {
        font-family: $style;
        font-size: torem(16);
        font-weight: $s_bold;
        line-height: torem(20);
        letter-spacing: 0%;
    }

    .purchase_txt {
        font-family: $style;
        font-size: torem(16);
        font-weight: $s_bold;
        line-height: torem(20);
        letter-spacing: 0%;
    }
    
    .desc {
        font-family: $style;
        font-size: torem(12);
        font-weight: $norm;
        line-height: torem(18);
        letter-spacing: 0%;
    }
    
    .others {
        font-family: $style;
        font-size: torem(12);
        font-weight: $norm;
        line-height: torem(20);
        letter-spacing: 0%;
    }
    
    .category {
        font-family: $style;
        font-size: torem(12);
        font-weight: $norm;
        text-align: $c_align;
        line-height: torem(24);
        letter-spacing: -0.6%;
    }
    
    .category_semibold {
        font-family: $style;
        font-size: torem(12);
        font-weight: $s_bold;
        text-align: $c_align;
        line-height: torem(24);
        letter-spacing: -0.6%;
    }
}

//DESKTOP SCREEN SIZE 

@media only screen and (min-width : 1440px){
    .title {
        font-family: $style;
        font-size: torem(48);
        font-weight: $s_bold;
        text-align: $c_align;
        line-height: torem(60);
        letter-spacing: -2%;
    }
    
    .subtitle {
        font-family: $style;
        font-size: torem(24);
        font-weight: $norm;
        text-align: $c_align;
        line-height: torem(32);
        letter-spacing: -1.9%;
    }

    .name_semibold {
        font-family: $style;
        font-size: torem(24);
        font-weight: $s_bold;
        text-align: $c_align;
        line-height: torem(32);
        letter-spacing: -1.9%;
    }
    
    .subtitle_semibold {
        font-family: $style;
        font-size: torem(24);
        font-weight: $s_bold;
        text-align: $c_align;
        line-height: torem(32);
        letter-spacing: -1.9%;
    }

    .price {
        font-family: $style;
        font-size: torem(24);
        font-weight: $s_bold;
        line-height: torem(32);
        letter-spacing: -1.9%;
    }
    
    .text {
        font-family: $style;
        font-size: torem(18);
        font-weight: $norm;
        line-height: torem(24);
        letter-spacing: -0.6%;
    }
    
    .text_semibold {
        font-family: $style;
        font-size: torem(18);
        font-weight: $s_bold;
        line-height: torem(24);
        letter-spacing: -0.6%;
    }

    .purchase_txt {
        font-family: $style;
        font-size: torem(18);
        font-weight: $s_bold;
        line-height: torem(24);
        letter-spacing: -0.6%;
    }

    .desc {
        font-family: $style;
        font-size: torem(14);
        font-weight: $norm;
        line-height: torem(24);
        letter-spacing: 0%;
    }
    
    .others {
        font-family: $style;
        font-size: torem(14);
        font-weight: $norm;
        line-height: torem(22);
        letter-spacing: 0%;
    }
}